%h3 Visit
%p Patient: #{@user.full_name}
%p Doctor: #{@doctor.full_name}
%p Status: #{@doctor_visit.status}
%p Appointment: #{@doctor_visit.appointment}
- if can? :update, @doctor_visit
  = form_with model: @doctor_visit, local: true do |form|
    .form-group
      %p
        = form.text_area :appointment
      %p.text-center= form.submit class: 'btn btn-primary mt-2'
%p
  = link_to 'Back', :back
