%main.container
  %h1.mt-5.display-1.text-center= t('.welcome')
  %h3.display-6.text-center= t('.lets_find')
  .container.mt-5
    .row.text-center
      .col-md-3
        = image_tag "doctor-4.jpeg", height: 300
      .col-md-3
        = image_tag "doctor-1.jpeg", height: 300
      .col-md-6
        = image_tag "doctor-5.jpeg", height: 300




