.row.mb-4.mt-5
  %h3= t('.title')
  %p
    = @doctor.full_name
.row.mb-5
  %h4= t('.current_patients')
  %table.table
    %tr.fw-bold
      %td= t('.name')
      %td= t('.phone')
      %td= t('.status')
      %td
    - @current_doctor_visits.each do |doctor_visit|
      %tr
        %td= doctor_visit.user_name
        %td= doctor_visit.user.phone_number
        %td= doctor_visit.status
        %td= link_to t('.give_a_prescription'), doctor_visit_path(doctor_visit), class: 'btn btn-outline-secondary'
.row
  %h4= t('.visit_history')
  %table.table
    %tr.fw-bold
      %td= t('.name')
      %td= t('.phone')
      %td= t('.status')
      %td= t('.prescription')
    - @closed_doctor_visits.each do |doctor_visit|
      %tr
        %td= doctor_visit.user_name
        %td= doctor_visit.user.phone_number
        %td= doctor_visit.status
        %td= doctor_visit.appointment
